body {
    background-color: #f0eef4;
    font-size: 24px;
}

.router-info {
    display: block;
    border-radius: 5px;
    border: #3376cd 1px solid;
    background-color: #a4c9ff;
}

.info-block {
    display: block;
    padding: 4px;
    border-radius: 5px;
    border: #3376cd 1px solid;
    margin: 5px;
    background-color: white;
}

.admin-button {
    text-align: center;
    margin: 10px 0;
}

.admin-button button {
    font-size: 24px;
    padding: 10px 5px;
    margin: 0 auto;
}