/* Основные стили для всего документа */
body {
    background-color: #f0eef4;
    font-size: 16px;
    margin: 0;
    padding: 5px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.add-domain {
    margin-bottom: 10px;
}

.domain-management h2 {
    margin-bottom: 10px;
}

.domain-management input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    transition: border-color 0.3s ease;
}

.domain-management input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Основные стили для кнопок */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

/* Стили для блока с информацией */
.router-info,
.info-block {
    display: block;
    border-radius: 5px;
    border: 1px solid #3376cd;
}

.router-info {
    background-color: #a4c9ff;
}

.info-block {
    padding: 10px 5px;
    margin: 5px;
    background-color: white;
}

/* Стили для кнопок админа */
.admin-button {
    text-align: center;
    margin: 10px 0;
}

.admin-button button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 auto;
}

/* Стили для элемента домена */
.domain-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.domain-item.domain-item-enter {
    animation: slideIn 0.5s ease-out;
}

.domain-item.leaving,
.domain-item.htmx-swapping {
    animation: slideOut 0.5s ease-out forwards;
}

/* Стили для текста и иконок */
.domain-name {
    flex: 1;
    margin-right: 10px;
}

.domain-item .icon {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 5px;
}

.domain-item button {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}

.domain-item .icon {
    font-size: 18px;
}

.icon-trash i {
    color: #d9534f;
}

.icon-pencil i {
    color: #f0ad4e;
}

/* Стили для формы редактирования */
.edit-form,
.domain-edit-input {
    display: none;
}

.domain-edit-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 14px;
}

/* Адаптация на мобильные устройства */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .admin-button button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .add-domain input {
        width: 50% !important;
    }
    .add-domain button {
        width: 40%;
    }

    .domain-item {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .domain-name,
    .domain-edit-input {
        margin-right: 10px;
        margin-bottom: 0;
        width: auto!important;
    }

    .domain-item .icon {
        font-size: 16px;
    }

    .domain-item button {
        font-size: 12px;
        padding: 5px 10px;
    }

    .domain-item .icon-trash,
    .domain-item .icon-pencil {
        margin: 0 5px;
    }


}
